/**
 * Tournament participants styles
 */
#tournament_participants {
	margin-top:20px;
}
#tournament_participants tr.even td,
#tournament_participants tr.odd td,
#tournament_participants tr.even,
#tournament_participants tr.odd {
  border: medium none;
	padding-bottom: 20px;
}
#players tr.even td,
#players tr.odd td {
	padding: 0;
}
.ready {
	background: url('../images/green.png') no-repeat;
	display: block;
	font-style: italic;
	padding-left: 22px;
	height: 22px;
}
.no-ready {
	background: url('../images/red.png') no-repeat;
	display: block;
	font-style: italic;
	padding-left: 22px;
	height: 22px;
}
.team-info {
	float: left;
	margin-left: 40px;
}
.team-info span{
	font-style: italic;
	font-weight: bold;
}
span.signup {
	color: #1e6f09;
}
span.no-signup {
	color: #dc1b30;
}